configuration {
	font: "mono 12";
	terminal: "foot";
	drun-display-format: "{name}";
	matching: "normal,fuzzy";
	case-smart: true;
	sorting-method: "fzf";
    scroll-method: 1;
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
