// arc raiders
window-rule {
    match app-id="^pioneergame.exe$"
    open-on-workspace "2"
    open-fullscreen true
    variable-refresh-rate true
}

// steam games
window-rule {
    match app-id="^steam_app_.*$"
    open-on-workspace "2"
    open-fullscreen true
    variable-refresh-rate true
}

window-rule {
    match app-id="^rocketleague.exe$"
    open-on-workspace "2"
    open-fullscreen true
    variable-refresh-rate true
}

window-rule {
    match app-id="^cs2$"
    open-on-workspace "2"
    open-focused false
    open-maximized false
}

window-rule {
    match app-id="^steam$"
    open-on-workspace "4"
    open-focused false
    open-maximized false
}

window-rule {
    match app-id="^[sS]potify$"
    open-on-workspace "8"
}

window-rule {
    match app-id="^discord$"
    match app-id="^vesktop$"
    open-on-workspace "9"
}
