workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"
workspace "6"
workspace "7"
workspace "8"
workspace "9"

output "LG Electronics LG ULTRAGEAR+ 409NTSU7N942" {
    mode "3840x2160@120.000"
    scale 1
    transform "normal"
    position x=0 y=0
    focus-at-startup
    variable-refresh-rate on-demand=true
}

