@define-color base00 #000000;
@define-color base01 #202020;
@define-color base02 #404040;
@define-color base03 #808008;
@define-color base04 #C0C0C0;
@define-color base05 #E0E0E0;
@define-color base06 #F0F0F0;
@define-color base07 #ffffff;
@define-color base08 #FF5370;
@define-color base09 #F76D47;
@define-color base0A #FFB62C;
@define-color base0B #91B859;
@define-color base0C #39ADB5;
@define-color base0D #6182B8;
@define-color base0E #7C4DFF;
@define-color base0F #E53935;
@define-color foreground #ffffff;
@define-color background #000000;
@define-color focus #fb0120;

* {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    min-height: 0;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 13px;
}

window#waybar {
    background: @background; /* background */
    color: @foreground; /* foreground */
}

#mode {
    color: @base0A; /* amarillo */
}

.modules-right {
  margin-right: 12px;
}

.modules-left {
  margin-left: 12px;
}

/* WORKSPACES */
#workspaces button {
    color: @foreground; /* foreground */
    padding: 1px 1px;
}

#workspaces button.focused {
    background: @focus; /* focus */
    color: @background; /* background */
}

#workspaces button.urgent {
    color: @base08; /* rojo */
}

/* NETWORK */
#network.disconnected {
    color: @base08; /* rojo */
}

#network.linked {
    color: @base0A; /* amarillo */
}

/* BATTERY */
#battery.good {
    color: @base0B; /* verde */
}

#battery.warning {
    color: @base0A; /* amarillo */
}

#battery.critical {
    color: @base08; /* rojo */
}
