@define-color base00 #2E3440;
@define-color base01 #3B4252;
@define-color base02 #434C5E;
@define-color base03 #4C566A;
@define-color base04 #D8DEE9;
@define-color base05 #E5E9F0;
@define-color base06 #ECEFF4;
@define-color base07 #EEF0F5;
@define-color base08 #FF5258;
@define-color base09 #FF7500;
@define-color base0A #FFFF70;
@define-color base0B #00FB90;
@define-color base0C #C4FFFF;
@define-color base0D #029BEB;
@define-color base0E #B6ACFF;
@define-color base0F #FF49FD;
@define-color foreground #E5E9F0;
@define-color background #2E3440;
@define-color focus #EEF0F5;

* {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    min-height: 0;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 18px;
}

window#waybar {
    background: @background; /* background */
    color: @foreground; /* foreground */
}

#mode {
    color: @base0A; /* amarillo */
}

.modules-right {
  margin-right: 12px;
}

.modules-left {
  margin-left: 12px;
}

/* WORKSPACES */
#workspaces button {
    color: @foreground; /* foreground */
    padding: 1px 4px;
}


#workspaces button.focused {
    background: @focus; /* focus */
    color: @background; /* background */
}

#workspaces button.urgent {
    color: @base08; /* rojo */
}

#tags button {
    color: @background; /* foreground */
    padding: 1px 4px;
}

#tags button.occupied {
    color: @foreground; /* foreground */
    padding: 1px 4px;
}

#tags button.focused {
    background: @focus; /* focus */
    color: @background; /* background */
    padding: 1px 4px;
}

#tags button.urgent {
    color: @base08; /* rojo */
    padding: 1px 4px;
}

/* NETWORK */
#network.disconnected {
    color: @base08; /* rojo */
}

#network.linked {
    color: @base0A; /* amarillo */
}

/* BATTERY */
#battery.good {
    color: @base0B; /* verde */
}

#battery.warning {
    color: @base0A; /* amarillo */
}

#battery.critical {
    color: @base08; /* rojo */
}
