@define-color base00 #1A1A1A;
@define-color base01 #222222;
@define-color base02 #333333;
@define-color base03 #444444;
@define-color base04 #888888;
@define-color base05 #e6e6e6;
@define-color base06 #f6f6f6;
@define-color base07 #FCFCFC;
@define-color base08 #FF7E81;
@define-color base09 #FF8F86;
@define-color base0A #FFF094;
@define-color base0B #73FF96;
@define-color base0C #2FFEFF;
@define-color base0D #3fb2ff;
@define-color base0E #9F91FF;
@define-color base0F #FF5370;
@define-color foreground #FCFCFC;
@define-color background #1C2B38;
@define-color focus #92AAEE;

* {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    min-height: 0;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 18px;
}

window#waybar {
    background: rgba(46, 52, 64, 0.8); /* background */
    color: @foreground; /* foreground */
}

#mode {
    color: @base0A; /* amarillo */
}

.modules-right {
  margin-right: 12px;
}

.modules-left {
  margin-left: 12px;
}

/* WORKSPACES */
#workspaces button {
    color: @foreground; /* foreground */
    padding: 1px 4px;
}


#workspaces button.focused {
    background: @focus; /* focus */
    color: @background; /* background */
}

#workspaces button.urgent {
    color: @base08; /* rojo */
}

#tags button {
    color: @background; /* foreground */
    padding: 1px 4px;
}

#tags button.occupied {
    color: @foreground; /* foreground */
    padding: 1px 4px;
}

#tags button.focused {
    background: @focus; /* focus */
    color: @background; /* background */
    padding: 1px 4px;
}

#tags button.urgent {
    color: @base08; /* rojo */
    padding: 1px 4px;
}

/* NETWORK */
#network.disconnected {
    color: @base08; /* rojo */
}

#network.linked {
    color: @base0A; /* amarillo */
}

/* BATTERY */
#battery.good {
    color: @base0B; /* verde */
}

#battery.warning {
    color: @base0A; /* amarillo */
}

#battery.critical {
    color: @base08; /* rojo */
}
