theme = "nord"

[editor]
line-number = "relative"
cursorline = true
color-modes = true
shell = ["nu", "-c"]

[editor.cursor-shape]
insert = "bar"
normal = "block"
# select = "underline"

[editor.statusline]
right = ["diagnostics", "selections", "position", "file-encoding"]
mode.normal = "N"
mode.insert = "I"
mode.select = "V"

[keys.normal]
"{" = ["goto_prev_paragraph", "collapse_selection"]
"}" = ["goto_next_paragraph", "collapse_selection"]
0 = "goto_line_start"
"$" = "goto_line_end"
"^" = "goto_first_nonwhitespace"
D = ["collapse_selection", "extend_to_line_end", "delete_selection"]
C-e = "scroll_down"
C-y = "scroll_up"
A-x = "extend_line_above"
H = "goto_window_top"
M = "goto_window_center"
L = "goto_window_bottom"
G = "goto_file_end"
Z = { Z = ":wq", Q = ":q!" }

[keys.select]
# Muscle memory
"{" = ["extend_to_line_bounds", "goto_prev_paragraph"]
"}" = ["extend_to_line_bounds", "goto_next_paragraph"]
0 = "goto_line_start"
"$" = "goto_line_end"
"^" = "goto_first_nonwhitespace"
D = ["extend_to_line_bounds", "delete_selection", "normal_mode"]
C = ["goto_line_start", "extend_to_line_bounds", "change_selection"]
C-e = "scroll_down"
C-y = "scroll_up"
H = "goto_window_top"
M = "goto_window_center"
L = "goto_window_bottom"
G = "goto_file_end"
Z = { Z = ":wq", Q = ":q!" }
