$foreground: #FFFFFF;
$background: #1C1C1C;
$backgroundrgba: rgba(28,28,28,1);
$focus: #5e5086;

* { 
    all: unset;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 20px;
}

.bar { 
    background: $backgroundrgba;
    text-shadow: 0px 0px 1px black;
}

.todo {
  color: $foreground;
  padding: 0 1em;
}

.workspace { 
  padding: 0 0.3em;
}

.workspace.focused { 
  background: $focus;
}

.item {
  padding: 0 0.5em;
}


.time {
  padding-left: 0.7em;
}

.vol {
  margin-left: 0.4em;
}