$foreground: #FDFDFD;
$background: #2E2E30;
$focus: #007AFF;

* { 
    all: unset;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 20px;
}

.bar { 
    background: rgba(46, 46, 48, 0.8);
    text-shadow: 0px 0px 1px black;

}

.todo {
  color: $foreground;
  padding: 0 20px;
}

.workspace { 
  padding: 0 0.3em;
}

.workspace.focused { 
  background: $focus;
}

.icon {
  margin-right: 14px;
}
