$foreground: #FCFCFC;
$background: #1C2B38;
$backgroundrgba: rgba(28,43,56,0.8);
$focus: #92AAEE;

* { 
    all: unset;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 20px;
}

.bar { 
    background: $backgroundrgba;
    text-shadow: 0px 0px 1px black;

}

.todo {
  color: $foreground;
  padding: 0 20px;
}

.workspace { 
  padding: 0 0.3em;
}

.workspace.focused { 
  color: $background;
  background: $focus;
}

.icon {
  margin-right: 14px;
}
